

<!DOCTYPE html>
<!--
BeyondAdmin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.6
Version: 1.6.0
Purchase: https://wrapbootstrap.com/theme/beyondadmin-adminapp-angularjs-mvc-WB06R48S4
-->

<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Head -->
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>

    <meta name="description" content="Dashboard" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon">
    <partial name="_AdminHeadrRefrenesesPartial" />


    <!--Fonts-->
    @*<style>
            @font-face {
                font-family: 'WYekan';
                src: url('/assets/fonts/BYekan.woff') format('woff');

                font-weight: normal;
                font-style: normal;
            }
        </style>*@
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">

</head>
<!-- /Head -->
<!-- Body -->
<body>
    <!-- /Navbar -->
    <!-- Main Container -->
    <div>
        <partial name="_AdminHeaderPartialView" />
        @RenderBody()
    </div>
        <partial name="_AdminScriptRefrensesPartial">
        <partial name="_AdminRefrensesPartialJS">
        <partial name="_SweetAlertPartialView">
        @RenderSection("scripts", required: false)
</body>
<!--  /Body -->
</html>
