@using Main.Domain.ViewModel.User
@model LoginViewModel ;


@{
    Layout = "_LayoutAccount";
}

<!DOCTYPE html>
<!--
BeyondAdmin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.6
Version: 1.6.0
Purchase: https://wrapbootstrap.com/theme/beyondadmin-adminapp-angularjs-mvc-WB06R48S4
-->

<html xmlns="http://www.w3.org/1999/xhtml">
<!--Head-->
<head>
    <meta charset="utf-8" />
    <title>Login Page</title>

    <meta name="description" content="login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <partial name="LoginLink" />
  
    <partial name="LoginScript" />
</head>
<!--Head Ends-->
<!--Body-->
<body>
   
    <form asp-controller="Account" asp-action="Login" method="post" class="auth-form">

        <div class="col-md-3" style="margin-top:20px;margin-right:100px">
            <div class="login-container animated fadeInDown ">
                <div class="loginbox bg-white">
                    <div class="loginbox-title" style="text-align:center">ورود</div>
                    <div class="loginbox-social">

                        <div class="loginbox-or">
                            <div class="or-line"></div>
                            <div class="or">OR</div>
                        </div>
                        <div class="loginbox-textbox">
                            <input asp-for="Email" type="email" class="form-control" placeholder="Email" />
                            <span asp-validation-for="Email"></span>

                        </div>
                        <div class="loginbox-textbox">
                            <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
                            <span asp-validation-for="Password"></span>
                        </div>
                        <div class="loginbox-textbox">
                            <input asp-for="RememberMe" type="checkbox"  placeholder="RemmeberMe" />
                        </div>
                        <div class="loginbox-forgot">
                            <a href="">Forgot Password?</a>
                        </div>
                        <div class="loginbox-submit">
                            <input type="submit" class="btn btn-primary btn-block" value="forgotpassword">
                        </div>
                        <div class="loginbox-signup">
                            <a asp-action="RegisterUser">Sign Up With Email</a>
                        </div>
                    </div>
                    <div class="logobox">
                    </div>
                </div>
            </div>
        </div>

        <!--Basic Scripts-->
     <partial name="LoginBasicScript" />
    </form>
   
</body>
<!--Body Ends-->
</html>
