@using Main.Domain.ViewModel.User
@model LoginViewModel ;

@{
    ViewData["Title"] = "صفحه ورودبه سایت";
    Layout = "_LayoutAccount";
}

<main class="page-content page-auth">
    <!-- start of auth-container -->
    <div class="auth-container">
        <div class="auth-title mb-3">  فرم ورود به سایت</div>
        <!-- start of auth-box -->
        <div class="auth-box ui-box">
            <!-- start of auth-form -->
            <form asp-controller="Account" asp-action="Login" class="auth-form">
                <!-- start of form-element -->
                <div class="form-element-row mb-5">
                    <input asp-for="Email" type="text" class="form-control" placeholder=" ایمیل">
                    <span asp-validation-for="Email"></span>@*asp-validation is for ModelState*@

                </div>
                <div class="form-element-row mb-5">
                    <input asp-for="Password" type="password" class="form-control" placeholder="کلمه عبور">
                    <span asp-validation-for="Password"></span>
                </div>
                @*<div class="loginbox-textbox">
            <label for="rememberme">مرا به خاطر بسپار</label>
            <input asp-for="RememberMe" class="checkbox-input" type="checkbox" id="rememberme" />
        </div>*@
                <label class="checkbox-label">
                    <input asp-for="RememberMe" type="checkbox" class="checkbox-input" id="RememberMe" />
                    <span>مرابه خاطر بسپار!</span>
                </label>
                <!-- end of form-element -->
                <!-- start of form-element -->
                <div class="form-element-row mb-3">
                    <button type="submit" class="btn btn-primary">ورودبه سایت</button>
                </div>
                <!-- end of form-element -->
                <!-- start of form-element -->
                <div class="form-element-row">
                    <div>
                        درصورتیکه هنوز عضوسایت نیستید، روی این <a asp-controller="Account" asp-action="RegisterUser" class="link">
                            
                            لینک
                        </a> 
                       کلیک کنید تا به صفحه ثبت نام منتقل شوید.
                    </div>
                </div>
                <!-- end of form-element -->
            </form>
            <!-- end of auth-form -->
        </div>
        <!-- end of auth-box -->
    </div>
    <!-- start of auth-container -->
</main>
