@model Main.Domain.ViewModel.User.UserRegisterViewModel

@{
    ViewData["Title"] = "صفحه ثبت نام";
    Layout = "_LayoutAccount";
}

<main class="page-content page-auth">
    <!-- start of auth-container -->
    <div class="auth-container">
        <div class="auth-title mb-3">  فرم ثبت نام</div>
        <!-- start of auth-box -->
        <div class="auth-box ui-box">
            <!-- start of auth-form -->
            <form  asp-controller="Account" asp-action="RegisterUser"  class="auth-form">
                <!-- start of form-element -->
                <div class="form-element-row mb-5">
                    <input asp-for="Email" type="text" class="form-control" placeholder=" ایمیل">
                    <span asp-validation-for="Email"></span>@*asp-validation is for ModelState*@

                </div>
                <div class="form-element-row mb-5">
                    <input  asp-for="Password"   type="password" class="form-control" placeholder="کلمه عبور">
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="form-element-row mb-5">
                    <input  asp-for="RePassword"    type="password" class="form-control" placeholder="تکرار کلمه عبور">
                    <span asp-validation-for="RePassword"></span>
                </div>
                <!-- end of form-element -->
                <!-- start of form-element -->
                <div class="form-element-row mb-3">
                    <button type="submit" class="btn btn-primary" >ثبت نام</button>
                </div>
                <!-- end of form-element -->
                <!-- start of form-element -->
                <div class="form-element-row">
                    <div>
                        با ورود و یا ثبت نام در سایت شما <a href="#" class="link">
                            شرایط و
                            قوانین
                        </a> استفاده
                        از تمام سرویس های
                        سایت و <a href="#" class="link">قوانین حریم خصوصی</a> آن را می‌پذیرید.
                    </div>
                </div>
                <!-- end of form-element -->
            </form>
            <!-- end of auth-form -->
        </div>
        <!-- end of auth-box -->
    </div>
    <!-- start of auth-container -->
</main>