

@{
    ViewData["Title"] = "صفحه تاییدیه ایمیل! ";
    Layout = "_LayoutAccount";
}

<main class="page-content page-auth">
    <h3>ثبت نام شما با موفقیت انجام شد. جهت تکمیل ثبت نام روی لینک ارسال شده در ایمیل خود کلیک کنید</h3>
</main>