@using Main.Domain.ViewModel.User
@model ForgotPasswordViewModel


@{
    Layout = "_LayoutAccount";
}



<main>
    <form asp-controller="Account" asp-action="ResetPassword" method="post">
        <input type="hidden" asp-for="UserId"/>     
        
        <div class="form-element-row mb-5">
            <input asp-for="Newpassword" type="password" class="form-control" placeholder=" کلمه عبور">
            <span asp-validation-for="Newpassword"></span>
        </div>
        <div class="form-element-row mb-5">
            <input asp-for="NewRepassword" type="password" class="form-control" placeholder="تکرار کلمه عبور">
            <span asp-validation-for="NewRepassword"></span>
        </div>
        <div class="loginbox-submit">
            <button type="submit" class="btn btn-primary btn-block" ></button>
        </div>

    </form>

</main>
