

@{
    ViewData["Title"] = "اتمام ثبت نام ";
    Layout = "_LayoutAccount";
}

<main class="page-content page-auth">
    <h3>ثبت نام شما انجام و فعالسازی ایمیل شما انجام شد. جهت انتقال به صفحه اصلی روی  لینک زیر کلیک کنید</h3>
    <a asp-controller="Home" asp-action="Index">انتقال به صفحه اصلی</a>
</main>