

@{
    ViewData["Title"] = "اتمام ثبت نام ";
    Layout = "_LayoutAccount";
}

<main class="page-content page-auth">
    <h3>ثبت نام شما انجام و فعالسازی ایمیل شما انجام شد. جهت انتقال به صفحه لاگین روی  لینک زیر کلیک کنید</h3>
    <a asp-controller="Account" asp-action="Login">انتقال به صفحه ورودبه سایت</a>
</main>