<div class="well with-header">
    <div class="header bordered-darkorange">Default Alerts</div>
 

    <div class="alert alert-success fade in">
        <i class="fa-fw fa fa-check"></i>

        @ViewBag.DonChangePassword
    </div>

</div>