@model Main.Domain.ViewModel.User.UserChangePassword


@{
    ViewData["Title"] = "صفحه تغییر رمز عبور";
    Layout = "_UserLayout";
}

<main class="page-content page-auth">
    <!-- start of auth-container -->
    <div class="auth-container">
        <div class="auth-title mb-3">  تغییر کلمه عبور کاربر</div>
        <!-- start of auth-box -->
        <div class="auth-box ui-box">
            <!-- start of auth-form -->
            <form   asp-controller="ChangePassword" asp-action="UserPasswordChange"   asp-area="User"  class="auth-form">
                <!-- start of form-element -->
                <div class="form-element-row mb-5">
                    <input  id="old"   asp-for="OldPassword" type="password" class="form-control" placeholder=" کلمه عبور فعلی">
                    <span asp-validation-for="OldPassword"></span>@*asp-validation is for ModelState*@

                </div>
                <div class="form-element-row mb-5">
                    <input  id="new" asp-for="NewPassword" type="password" class="form-control" placeholder="کلمه عبورجدید">
                    <span asp-validation-for="NewPassword"></span>
                </div>
                <div class="form-element-row mb-5">
                    <input  id="renew"   asp-for="ReNewPassword" type="password" class="form-control" placeholder="تکرار کلمه عبورجدید">
                    <span asp-validation-for="ReNewPassword"></span>
                </div>
                <!-- end of form-element -->
                <!-- start of form-element -->
                <div class="form-element-row mb-3">
                    @*<a  onclick="Done()"  id="Submit"  class="btn btn-primary">ثبت کلمه عبور جدید</a>*@
                    <button  onclick="Done()"   class="btn btn-primary" id="Submit" >  ثبت </button>
                </div>
                <!-- end of form-element -->
                <!-- start of form-element -->
                <div class="form-element-row">
                    <div>
                        با ورود و یا ثبت نام در سایت شما <a href="#" class="link">
                            شرایط و
                            قوانین
                        </a> استفاده
                        از تمام سرویس های
                        سایت و <a href="#" class="link">قوانین حریم خصوصی</a> آن را می‌پذیرید.
                    </div>
                </div>
                <!-- end of form-element -->
            </form>
            <!-- end of auth-form -->
        </div>
        <!-- end of auth-box -->
    </div>
    <!-- start of auth-container -->
</main>
@section scripts{ 
<script type="text/javascript">
    
        function Done() {

            var viewModel = { OldPassword: $("#old").val(), NewPassword: $("#new").val(), ReNewPassword: $("#renew").val() };

            $.ajax({
                type: 'POST',
                url: "/User/ChangePassword/UserPasswordChange",
                data: { viewModel: viewModel },
                success: function (data) {   /*-->this data is for ActionMethod return value!*/
                    if (data.status == "Success") {
                        swal.fire({
                            title: 'موفق!',
                            text: "عملیات تغییر رمز با موفقیت به اتمام رسید!",
                            icon: 'success',
                            confirmButtonText: 'تایید',
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location = '/Login';
                            }

                        })
                    }
                },

                error: function () {
                    swal.fire(
                        'Cancelled',
                        'Your imaginary file is safe :)',
                        'error'
                    )
                }
            });
}
</script>
}
