@model Main.Domain.ViewModel.Filtering.FilterProductViewModel

    <div class="search-container">
        <form action="#" class="search-form">
            <input asp-for="Title" type="text" class="form-control search-field" placeholder="جستجو کنید..">
            <button class="btn btn-primary btn-search btn-action">
                <i class="ri-search-2-line"></i>
            </button>
            <button class="btn btn-primary btn-close-search-result btn-action d-none">
                <i class="ri-search-2-line"></i>
            </button>
        </form>
        
    </div>
