@using Main.Domain.ViewModel.Product;
@model ProductGalleryViewModel

<div>
    <div class="col-md-9">
    </div>
    <div class="col-md-3">
        <div class="widget radius-bordered">
            <div class="widget-header">
                <span class="widget-caption">انتخاب تصاویر</span>
            </div>
            <div class="widget-body">
                <h5>Standard Button</h5>
                <hr class="wide">
                <span class="file-input btn btn-azure btn-block btn-default btn-file">
                    ثبت تصویر <input type="file" multiple="">
                </span>

            </div>
        </div>
    </div>
</div>