@model List<Main.Domain.Models.Product_Image_Gallery.ProductImageGallery>




<div class="main-container container-fluid">
    <!-- Page Container -->
    <div class="page-container">
        <div class="page-content">
            <div class="col-xs-12 col-md-12 col-sm-12">
                <div class="databox databox-xxlg databox-vertical databox-shadowed bg-white radius-bordered padding-5">
                    <div class="col-md-9">
                        <div class="widget radius-bordered">
                            <div class="widget-header">
                                <span class="widget-caption"> تصاویر ثبت شده**برای حذف روی تصویر کلیک کنید**</span>
                            </div>
                            <div class="widget-body">

                                <div class="collapse in">
                                    <form id="myForm" enctype="multipart/form-data" asp-area="Admin" asp-controller="Product" asp-action="UpdateProduct">

                                        <div class="row">


                                            @foreach (var item in Model)
                                            {
                                                <div id="previewContainer" class="image-container" style="overflow-x: auto; white-space: nowrap;">
                                                    <img src="/ImageProducts/@item.ImageName" height="100px" width="100px" style="margin-right: 10px; display: inline-block;" id="@item.Id" />
                                                    <a class="delete-button">&times;</a>
                                                </div>
                                            }


                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>


                    </div>
                    <div class="col-md-3">
                        <div class="widget radius-bordered">
                            <div class="widget-header">
                                <span class="widget-caption">انتخاب تصاویر</span>
                            </div>
                            <div class="widget-body">
                                <label for="fileInput" class="file-input-label">
                                    <img src="/Images/add-image-icon-0.jpg" height="100px" width="100px">
                                </label>
                                <input type="file" id="fileInput" class="file-input" style="display: none;">
                                <hr class="wide">
                                <span class="file-input btn btn-azure btn-block btn-default btn-file">
                                    ثبت تصویر <input type="file" multiple="">
                                </span>


                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        function showPreview() {
            const previewContainer = document.getElementById('previewContainer');
            const fileInput2 = document.getElementById('fileInput2');
            const files = fileInput2.files;

            // Clear existing previews
            previewContainer.innerHTML = '';

            // Loop through the selected files and create previews
            for (let i = 0; i < files.length; i++) {
                if (files[i].type.match('image.*')) {
                    const reader2 = new FileReader();
                    reader2.onload = function () {
                        const preview = document.createElement('img');
                        preview.src = reader2.result;
                        preview.style.width = '100px'; // Set the size of the preview image
                        previewContainer.appendChild(preview);
                    }
                    reader2.readAsDataURL(files[i]);
                }
            }
        }

        // Call the showPreview function when the file input value changes
        document.getElementById('fileInput2').addEventListener('change', showPreview);
    </script>
    <script>
        $('.image-container').on('mouseenter', function () {
            $(this).find('.delete-button').show();
        });

        $('.image-container').on('mouseleave', function () {
            $(this).find('.delete-button').hide();
        });

    </script>
}
