@model Main.Domain.ViewModel.CreateFaqViewModel

@{
    ViewData["Title"] = "صفحه افزودن سوالات متداول سمت ادمین";

    Layout = "_AdminLayout";
}
<div class="main-container container-fluid">
    <!-- Page Container -->
    <div class="page-container">
        <div class="page-content">
            <div class="col-xs-12 col-md-12 col-sm-12">

                <form asp-action="CreatFaq" asp-controller="Faq" asp-area="Admin">
                    @*خود اینها  متد ای اس پی را روی پست می گذارند*@
                <label>سوال:</label>
                <input id="w3review" asp-for="Question" />
                سوال را وارد کنید
                <label>پاسخ:</label>
                <textarea asp-for="Answer" rows="4" cols="50" placeholder="واردکنیدپاسخ">
    </textarea>
                <button type="submit" class="btn btn-success">ثبت <i class="fa fa-check right"></i></button>
            </form>
                </div>
                </div>
                </div>
                </div>

