



        <div class="user-option user-option--account">
            <a href="profile.html" class="user-option-btn user-option-btn--account">
                <i class="ri-user-fill icon"></i>
                <i class="ri-arrow-down-s-fill icon fs-7 text-muted"></i>
            </a>
            <div class="user-option--dropdown user-option--dropdown">
                <div class="profile-user-info ui-box">
                    <div class="profile-detail">
                        <div class="d-flex align-items-center">
                            <div class="profile-avatar me-3">


                                <img src="./theme-assets/images/avatar/default.png" alt="avatar">

                            </div>
                            <div class="profile-info">
                                <a href="#" class="text-decoration-none text-dark fw-bold mb-2">

                                </a>
                                <div class="text-muted fs-7 fw-bold">در صورت عضو نبودن ابتدا ثبت نام کنید!</div>
                            </div>
                        </div>
                        <div class="user-options">
                            <ul>
                                <li>
                                    <span class="label">
                                        <a asp-controller="Account" asp-action="RegisterUser">ثبت نام</a>
                                    </span>

                                </li>
                                <li>
                                    <span class="label">
                                        <a asp-controller="Account" asp-action="Login">ورود</a>
                                    </span>

                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>




